<!-- vote/templates/index.html -->
<!DOCTYPE html>
<html lang="zh-Hant">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>投票系統 - 登入</title>
  <link rel="stylesheet" href="../static/index.css">
</head>
<body>
  <div class="container">
    <h1>請輸入學號和姓名</h1>
    <form id="user-form" action="/submit" method="POST">
      <label for="student_id">學號（例：411211383）：</label>
      <input type="text" id="student_id" name="student_id" required><br><br>

      <label for="student_name">姓名（例：陳曉明）：</label>
      <input type="text" id="student_name" name="student_name" required><br><br>

      <button type="submit">開始投票</button>
      {% if message %}
    <p style="color: red;">{{ message }}</p>
{% endif %}
    </form>
  </div>
</body>
</html>
